body {
    font: 1.2em/1.62 sans-serif;
    padding: 0.62em;
    max-width: 30em;
    margin: 1em auto;
}

h1,h2,h3 {
    text-align: center;
    line-height:1.2;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

